nav,
nav * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    }

nav {

    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 1.25em;
    color: white;

}

#logo {
    width: 250px;
    height: 40px;
    justify-content: center;
}

#nav-links {
    height: 100%;
    width: 50%;
    justify-content: flex-end;
}


@media screen and (max-width: 768px) {

nav {
    width: auto;
}
    
}


.intro {
    text-align: start;
    justify-content: center;
    align-items: center;
    height: 600px;

    &__heading {
        font-size: 50px;
        font-weight: bold;
        color: $color-white;
    }

    &__sub-heading {
        font-size: 25px;
        font-weight: bold;
        color: $color-white;
        margin: 50px 0;
    }

    &__button {
        padding: 5px;
        margin: auto;
        font-weight: bold;
        border-radius: 2px;
        background-color: $color-pink;
    }

}
.parent {
    position: relative;
    height: 600px;
}

    .child {
    position: absolute;
    top: 0;
    
}

    .child-1 {
    position: absolute;
    top: 200px;
    left: 10px;
}

    .child-2 {
    position: absolute;
    top: 0px;
    transform: rotate(-5.94deg);
   
    
}

    .child-3 {
    position: absolute;
    top: 90px;
    left:425px;
}


.projects-title {

    color: $color-white;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    text-decoration: underline  $color-pink;
    padding: 50px;
   
}

.about-title {

    color: $color-white;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    text-decoration: underline  $color-pink;
    padding: 50px;
   
}

.about_section {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 50px;
margin: 50px;
margin-top: 150px;

}

.about_img {
    width: 33%;
    height: 600px;
    background-color: lightgray;
}

.about_overview {
    width: 43%;
    height: 600px;
    padding: 10px;
    background-color: lightgray;
    font-family: $font-body;
    font-size: 25px;
}




.contact {
    height: 200px;
    width: 100%;
    margin: 0px;
    padding:  0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font: $color-white;

    .contact_header {
        font-weight: bold;
        color: $color-white;
    }
    .contact_container {
        height: 100px;

        .contact_mail {
            padding: 0px;
        }

        .contact_icons {

          
            .fa-github-square {
                width: 50px;
                height: 50px;
            background-color: $color-pink;
            }
        
            .fa-linkedin {
                width: 50px;
                height: 50px;
                background-color: $color-pink;
            }
            .fa-paper-plane {
                width: 50px;
                height: 50px;
                background-color: $color-pink;
            }
        
        }
    }
    
}



