
body {
    background-color: $color-primary;
    max-width: 1400px;
    margin: auto;
}

header {
    margin-left: 0px;
    margin-top: 25px;
    padding: 0px;
    padding-top: 30px;
    width: auto;
    height: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}



#left-panel {
    width: 275px;
    margin-top:200px ;
   
}

#right-panel {
    width: 758px;
                
    }
    
@media screen and (max-width: 768) {
    #right-panel .child-3 {
        left: 100px;
        width: 188px;
                }

     #right-panel .child-2 {
         left: 30px;
     }           
    #right-panel .child-1 {
        width: 372px;
        right: 0px;
        padding: 0px;
    }
    
}

    .projects_section {
        
        display: grid;
       
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 80px;
        padding: 50px;
        background-color:$color-primary;

        div {
            width: 350px;
            height: 350px;
            background-color: lightgrey;
        }
    }

    @media  screen and (max-width: 1350px) {
        .projects_section { 
            grid-template-columns: 1fr 1fr;
        }
    }
        

    @media  screen and (max-width: 880px) {
        .projects_section { 
            grid-template-columns: 1fr;
        }
    }
        
    

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }






    
           
    
 
