
body {
    background-color: $color-primary;
    background-image:none;
    max-width: 1400px;
    margin: auto;
}

header {
    margin-left: 0px;
    margin-top: 25px;
    padding: 0px;
    padding-top: 30px;
    width: auto;
    height: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    #left-panel {
        width: 275px;
        margin-top:200px ;
   }

    #right-panel {
        width: 758px;           
    }
}

        #right-panel .child-3 {
            left: 400px;
            border: 10px solid $color-white;
            }

        #right-panel .child-2 {
             left: 0px;
             top: 0px;
             border: 10px solid $color-white;
        }           
        #right-panel .child-1 {
            width: 600px;
            right: 0px;
            padding: 0px;
            border: 10px solid $color-white;
        }
    
   
    

    @media screen and (max-width: 768px) {
        header {           
            height: 1200px;
            margin-top: 20px;  
            padding-top: 20px;

            #right-panel .child-1 {
                top: 330px;
            }
    
            #right-panel .child-2 {
               top: 30px; 
            }
    
    
            #right-panel .child-3 {
                top: 580px;
                width: 280px;
            }
            
            }
       
    }

    


.Projects {

    width: auto;
    background-image: none;
   
        .projects_section {
            background-image: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr ;
            gap: 80px;
            
            .project-div {
                background-color: grey;
                position: relative;
            }
                
                .pic-title {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    top: 10px;
                }
        
                .child-one {
                    background-color: bisque;
                    height: 349px;
                    width: 340px;
                    margin: 20px;
                    position: relative;
                    top: 40px;
                    margin-bottom: 20px;
                }
        
                .child-two {
                    background-color: lightgrey;
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    top: 150px;
                    left: 65px;
                }
        
                .pic2 {
                    transform: rotate(9 deg);
                    left: 100px;
                }
        
                .project-buttons-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-end;
                    padding-top: 40px;
                }
        
                .project-buttons {
                    font-size: medium;
                    color: black;
                }
            }
            

    @media  screen and (max-width: 1350px) {
        .projects_section { 
            grid-template-columns: 1fr 1fr;
        }
    }
        

    @media  screen and (max-width: 880px) {
        .projects_section { 
            grid-template-columns: 1fr;
        }
    }

}
    

    .footer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    






    
           
    
 
