@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #5B5555;
}

a:link,
a:visited {
  text-decoration: none;
  width: 33%;
  height: 100%;
  color: white;
}

nav,
nav * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

nav {
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: 1.25em;
  color: white;
}

#logo {
  width: 249.69;
  height: 15%;
  justify-content: center;
}

#nav-links {
  height: 100%;
  width: 50%;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  nav {
    width: auto;
  }
}
.intro {
  text-align: start;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.intro__heading {
  font-size: 50px;
  font-weight: bold;
  color: #fafafa;
}
.intro__sub-heading {
  font-size: 25px;
  font-weight: bold;
  color: #fafafa;
  margin: 50px 0;
}
.intro__button {
  padding: 5px;
  margin: auto;
  font-weight: bold;
  border-radius: 2px;
  background-color: #b55039;
}

.parent {
  position: relative;
  height: 600px;
}

.child {
  position: absolute;
  top: 0;
}

.child-1 {
  position: absolute;
  top: 200px;
  left: 10px;
}

.child-2 {
  position: absolute;
  top: 0px;
  transform: rotate(-5.94deg);
}

.child-3 {
  position: absolute;
  top: 90px;
  left: 425px;
}

#left-panel {
  width: 275px;
  margin-top: 200px;
}

#right-panel {
  width: 758px;
}

header {
  margin-left: 0px;
  margin-top: 25px;
  padding: 0px;
  padding-top: 50px;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768) {
  #right-panel .child-3 {
    left: 100px;
    width: 188px;
  }

  #right-panel .child-2 {
    left: 30px;
  }

  #right-panel .child-1 {
    width: 372px;
    right: 0px;
    padding: 0px;
  }

  header {
    margin-left: 0;
    margin-top: 150px;
    padding: 0;
  }
}